[submodule "Turbin3-Pre-requisite-rs"]
	path = Turbin3-Pre-requisite-rs
	url = https://github.com/ozoneRatchapon/Turbin3-Greenmove-rs
[submodule "Turbin3-Pre-requisite-ts"]
	path = Turbin3-Pre-requisite-ts
	url = https://github.com/ozoneRatchapon/Turbin3-Greenmove-ts
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/ozoneRatchapon/solana-starter
[submodule "vault"]
	path = vault
	url = https://github.com/ozoneRatchapon/vault
[submodule "greenmove-capstone-project"]
	path = greenmove-capstone-project
	url = https://github.com/ozoneRatchapon/Greenmove
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/ozoneRatchapon/marketplace
[submodule "staking"]
	path = staking
	url = https://github.com/ozoneRatchapon/staking.git
[submodule "amm"]
	path = amm
	url = https://github.com/ozoneRatchapon/amm.git
